html {
  font-family: serif;
}

/* Your CSS below here */

p {
  width: 200px;
  /* height: 100px; */
  line-height: 4;
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
  color: white;
  text-shadow: 2px 2px 2px black;
  border-radius: 5px;
  border: red 1px solid;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 30%, rgba(0,0,0,0.2) 100%);
  background-color: rgb(255, 160, 52);
  box-shadow: 3px 3px 8px black,
              inset 2px 2px 3px rgba(255,255,255,.2),
              inset -2px -2px 3px rgba(0, 0, 0, .2);
}