h1 {
  color: blue;
  background-color: yellow;
  border: 5px solid green;
}

p {
  color: red;
}

.outer{
  border: 5px solid black;
}

.box {
  margin: 30px;
  width: 100px;
  height: 100px;
  padding: 20px;
  width: calc(70% - 30px);
  background-color: rebeccapurple;
  color: white;
  transform: rotate(-45deg);
}

body {
  background-color: pink;
}

@media (min-width: 35em) {
  body {
    background-color: blue;
  }
}
